<app-navbar></app-navbar>

<div class="bg-black bg-opacity-40">
  <nav class="flex flex-row text-center text-gray-400 whitespace-no-wrap md:flex-wrap overflow-auto md:overflow-none">
    <a *ngFor="let type of byType | keyvalue" routerLink="/fps-weapons" [queryParams]="{type: type.key}" routerLinkActive="text-white bg-primary" class="px-5 py-3 flex-grow hover:text-white">{{type.key}}</a>
  </nav>
</div>

<div class="container mx-auto bg-black bg-opacity-80 text-white text-opacity-80 p-10 my-10">

  <div *ngIf="selectedType" class="grid lg:grid-cols-4 gap-10">

    <div *ngFor="let subRole of selectedType.value | keyvalue">

      <h6 class="text-lg border-b border-gray-400 mb-2">
        {{subRole.key}}
        <a *ngIf="subRole.value.length > 1" [routerLink]="['/fps-weapons/compare']" [queryParams]="{items:itemsInSubRole(subRole.value)}" class="text-primary text-xs">Compare</a>
      </h6>

      <div *ngFor="let item of subRole.value">
        <a [routerLink]="['/fps-weapons', item.className.toLowerCase()]" [title]="item.stdItem.Name" class="text-primary whitespace-nowrap">{{item.stdItem.Manufacturer?.Code || "CIG"}}: {{item.stdItem.Name}}</a>
      </div>

    </div>

  </div>

</div>
