<h4 class="mt-4">{{groupName}}</h4>
<ol *ngIf="groupItems" class="list-group">
  <ng-container *ngFor="let class of groupItems | keyvalue">
    <li (click)="toggleItems(class.key)" class="list-group-item d-flex" style="cursor: pointer">
      <div class="mr-auto" style="align-self: center">
        <strong>{{class.key}}</strong>
      </div>
      <div *ngFor="let size of class.value.bySize; let s = index" class="size-box" [class.list-group-item-success]="!!size.length">
        <div *ngIf="size.length">
          <small class="text-muted">S{{s}}</small><br>
          {{size.length | nozero}}
        </div>
      </div>
    </li>
    <ng-container *ngIf="class.value.showItems">
      <ng-container *ngFor="let size of class.value.bySize">
        <li *ngFor="let itemPort of size" class="list-group-item pl-1">
          <app-item [itemPort]="itemPort"></app-item>
        </li>
      </ng-container>
    </ng-container>
  </ng-container>
</ol>
<div *ngIf="!groupItems">
  No {{groupName}}
</div>
