// Fontawesome
$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/****** Structural ******/

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.container-outer {
  margin-bottom: 50px;
}

.container-inner {
  padding: 25px;
}

/***** Appearance *****/
.smallcaps {
  font-variant: small-caps;
}

/***** Colours *****/
.container-inner {
  a:not(.btn) {
    color: deeppink;
  }
}


.size-box-inner {
  background-color: deeppink;
}

// Light theme
app-root>.light>.app-container {
  background: white;

  .size-box-inner {
    color: white;

    small {
      color: rgba(255, 255, 255, 0.8);
    }

    &.empty {
      background-color: #eee;
      color: #444;

      small {
        color: #888;
      }
    }
  }
}

// Dark theme
app-root>.dark>.app-container {
  background: #121212;
  color: #ccc;

  .size-box-inner {
    &.empty {
      background-color: #222;
      color: #888;
    }
  }
}
