// Fontawesome
$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/****** Structural ******/

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.container-outer {
  margin-bottom: 50px;
}

.container-inner {
  padding: 20px;
}

/***** Appearance *****/
.smallcaps {
  font-variant: small-caps;
}

/***** Colours *****/
.container-inner {
  a:not(.btn) {
    color: deeppink;

    &:hover {
      color: hotpink;
    }
  }
}


.size-box-inner.full {
  background-color: deeppink;
}

// Light theme
app-root>.light {

  >.app-background {
    background-color: white;

    &-overlay {
      background: rgba(255, 255, 255, 0.8)
    }
  }

  >.app-container {

    .size-box-inner {
      color: white;

      small {
        color: rgba(255, 255, 255, 0.8);
      }

      &.empty {
        color: #444;

        small {
          color: #888;
        }
      }
    }
  }
}

// Dark theme
app-root>.dark {

  >.app-background {
    background-color: #121212;

    &-overlay {
      background: rgba(12, 12, 12, 0.8)
    }
  }

  >.app-container {
    color: #ccc;

    .size-box-inner.empty {
      color: #888;
    }
  }
}
