/* Set up the Inter font */
@use "~inter-ui/default" with (
  $inter-font-display: block,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: block,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@include default.all;
@include variable.all;


/* Fontawesome */
$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


/****** Structural ******/
a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

/***** Appearance *****/
.smallcaps {
  font-variant: small-caps;
}

/***** Colours *****/
.container-inner {
  a:not(.btn) {
    color: deeppink;
  }
}

// Scrollbar
html {
  --scrollbarBG: transparent;
  --thumbBG: rgba(255, 20, 147, 0.7);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border: 3px solid var(--scrollbarBG);
}
