// Fontawesome
$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/****** Structural ******/

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.container-outer {
  margin-bottom: 50px;
}

.container-inner {
  margin-top: 50px;
  padding: 25px;
}

/***** Appearance *****/
.smallcaps {
  font-variant: small-caps;
}


/***** Colours *****/

.container-inner {
  a:not(.btn) {
    color: deeppink;
  }
}


// Light theme
app-root,
app-root > .light {
  .container-outer {
    background-color: rgba(255,255,255,0.25);
  }
  .container-inner {
    background-color: rgba(255,255,255, 0.9);
  }

  .size-box-inner {
    background-color: deeppink;
    color: white;
    small {
      color: rgba(255,255,255,0.8);
    }
    &.empty {
      background-color: #eee;
      color: #444;
      small {
        color: #888;
      }
    }
  }
}

// Dark theme
app-root > .dark {
  color: #ccc;

  .container-outer {
    background-color: rgba(0,0,0,0.25);
  }

  .container-inner {
    background-color: rgba(0,0,0,0.8);
  }

  .app-background {
    filter: brightness(0.5) ! important;
  }

  .size-box-inner {
    &.empty {
      background-color: #222;
      color: #888;
    }
  }
}
