@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.w-fit {
  width: fit-content;
}

.text-white-alpha-80 {
  color: rgba(255,255,255,0.8);
}

.saturate-50 {
  filter: saturate(0.5);
}

.brightness-50 {
  filter: brightness(0.5);
}
