.app-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: auto;
}

.app-background,
.app-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.app-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: saturate(0.5)
}
