.role-container {
  margin-top: 20px;
}

.role-inner {
//  padding: 10px;
}

.subrole-container {
  border-top: 1px solid #888;
}

.subrole-inner {
  margin-top: 10px;
  margin-bottom: 10px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

h5,h6 {
  margin-bottom: 0;
}

h6 {
  margin-top: 5px;
}

h5 > a,
h6 > a {
  font-size: 0.75em;
  font-weight: normal;
}

h3 {
  margin-left: 10px;
}

.roleSelect {
  border: 1px solid #ccc;
  margin-left: -1px;
  margin-top: -1px;
  //flex-basis: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:focus,
.list-group-item.active {
  z-index: 2 ! important; // Bootstrap focus fix
}
