<div class="container mt-3">
  <div class="d-flex flex-wrap flex-row list-group">
    <button (click)="selectRole(role)" *ngFor="let role of byRoles | keyvalue" class="list-group-item list-group-action roleSelect" [class.active]="role.key == selectedRole.key">{{role.key}}</button>
  </div>

  <div *ngIf="selectedRole" class="role-container">
    <div class="role-inner">
      <h5>{{selectedRole.key}}
        <a [routerLink]="['/ships/compare']" [queryParams]="{ships:shipsInRole(selectedRole.value)}">Compare</a>
      </h5>
      <div class="d-flex flex-wrap subrole-container">
        <div *ngFor="let subRole of selectedRole.value | keyvalue" class="subrole-inner">
          <h6>
            {{subRole.key}}
            <a *ngIf="subRole.value.length > 1" [routerLink]="['/ships/compare']" [queryParams]="{ships:shipsInSubRole(subRole.value)}">Compare</a>
          </h6>
          <div *ngFor="let ship of subRole.value">
            <a [routerLink]="['/ships', ship.className.toLowerCase()]" [title]="ship.name | localise">{{ship.name | localise}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
