<app-navbar></app-navbar>

<div class="bg-black bg-opacity-40">
  <nav class="flex flex-row text-center text-gray-400 whitespace-no-wrap md:flex-wrap overflow-auto md:overflow-none">
    <a *ngFor="let role of byRoles | keyvalue" routerLink="/ships" [queryParams]="{role: role.key}" routerLinkActive="text-white bg-primary" class="px-5 py-3 flex-grow hover:text-white">{{role.key}}</a>
  </nav>
</div>

<div class="container mx-auto bg-black bg-opacity-80 text-white text-opacity-80 p-10 my-10">

  <div *ngIf="selectedRole">

    <div class="grid lg:grid-cols-5 gap-10">

      <div *ngFor="let subRole of selectedRole.value | keyvalue">

        <h6 class="text-lg border-b border-gray-400 mb-2">
          {{subRole.key}}
          <a *ngIf="subRole.value.length > 1" [routerLink]="['/ships/compare']" [queryParams]="{ships:shipsInSubRole(subRole.value)}" class="text-primary text-xs">Compare</a>
        </h6>

        <div *ngFor="let ship of subRole.value">
          <a [routerLink]="['/ships', ship.ClassName.toLowerCase()]" [title]="ship.Name" class="text-primary">{{ship.Name}}</a>
        </div>

      </div>

    </div>

  </div>

</div>
