<app-navbar></app-navbar>

<div class="container-outer">

  <div class="container mx-auto container-inner">

    <div class="flex">
      <div class="flex-grow">
        <h1 class="text-4xl md:text-5xl font-bold dark:text-white leading-none">{{item?.name | localise:item?.className}}</h1>
        <div class="text-sm md:text-base mt-1 font-medium text-gray-600">
          Size {{item?.size}} / Grade {{item?.grade}}
        </div>
      </div>
      <div>
        <a [href]="jsonHref" title="Click to download the JSON">JSON</a>
      </div>
    </div>

    <div class="itemStats mt-8">

      <div *ngIf="item?.quantumDrive" class="flex mt-5">
        <app-stat title="Speed" [value]="item?.driveSpeed" units="m/s" si="true"></app-stat>
        <app-stat title="PO to ArcCorp" [value]="item?.secondsToArcCorp" units="s" si="true"></app-stat>
      </div>

      <div *ngIf="item?.quantumDrive" class="flex mt-5">
        <app-stat title="Fuel requirement" [value]="item?.quantumFuelRequirement*1e9" units="L/Gm" si="true"></app-stat>
        <app-stat title="Efficiency" [value]="item?.efficiency" units="m/L" si="true"></app-stat>
        <app-stat title="Spool up time" [value]="item?.quantumDrive.params.spoolUpTime" units="s" si="true"></app-stat>
      </div>

      <div *ngIf="item?.shieldGenerator" class="flex mt-5">
        <app-stat title="Shield health" [value]="item?.maxShieldHealth" units="HP"></app-stat>
        <app-stat title="Regeneration" [value]="item?.maxShieldRegen" units="HP/s"></app-stat>
      </div>

      <div *ngIf="item?.powerConnection" class="flex mt-5">
        <app-stat title="Standby power" [value]="item?.powerConnection.PowerBase" units="W"></app-stat>
        <app-stat title="Maximum power" [value]="item?.powerConnection.PowerDraw" units="W"></app-stat>
      </div>

      <div *ngIf="item?.powerConnection" class="flex mt-5">
        <app-stat title="Power to EM ratio" [value]="item?.powerConnection.PowerToEM" units="J/W"></app-stat>
        <app-stat title="EM @ base draw" [value]="item?.powerConnection.PowerBase * item?.powerConnection.PowerToEM" units="J"></app-stat>
        <app-stat title="EM @ full draw" [value]="item?.powerConnection.PowerDraw * item?.powerConnection.PowerToEM" units="J"></app-stat>
      </div>

      <div *ngIf="item?.heatConnection" class="flex mt-5">
        <app-stat title="Thermal energy base" [value]="item?.heatConnection.ThermalEnergyBase"></app-stat>
        <app-stat title="Thermal energy draw" [value]="item?.heatConnection.ThermalEnergyDraw"></app-stat>
        <app-stat title="Temperature to IR ratio" [value]="item?.heatConnection.TemperatureToIR"></app-stat>
      </div>

      <div class="flex mt-5">
        <app-stat title="Component health" [value]="item?.health" units="HP"></app-stat>
        <app-stat title="Lifetime" [value]="item?.maxLifetime" units="h"></app-stat>
      </div>

    </div>

    <div class="mt-10 text-xl md:text-2xl font-bold dark:text-white leading-none">Description</div>
    <div class="mt-4 text-gray-600 font-serif italic" style="white-space: pre-line;">
      "{{item?.description | localise}}"
    </div>

    <div *ngIf="item?.Raw.Entity.Components.SEntityInteractableParams?.Interactable?.SharedInteractions?.length">
      <h5 class="mt-10 text-xl md:text-2xl font-bold dark:text-white leading-none">Interactions</h5>
      <div class="mt-4">
        <div *ngFor="let i of item?.Raw.Entity.Components.SEntityInteractableParams.Interactable.SharedInteractions">
          {{i.Name}} ({{i.DisplayName | localise}})
        </div>
      </div>
    </div>

    <h5 class="mt-10 text-xl md:text-2xl font-bold dark:text-white leading-none">Available at</h5>

    <div *ngIf="prices?.length" class="border border-gray-400 mt-4">
      <div *ngFor="let p of prices" class="px-4 py-2 border-b last:border-b-0 border-gray-400 flex justify-between">
        <div>{{p.shop.name}}</div>
        <div>{{p.item.basePrice * (1+(p.item.basePriceOffsetPercentage/100)) | number:'1.0-0'}} aUEC</div>
      </div>
    </div>
    <div *ngIf="!prices?.length" class="mt-4">
      Not for sale
    </div>

  </div>
</div>
