<app-navbar></app-navbar>

<div class="container-outer">

  <div class="container mx-auto container-inner">

    <div class="flex">
      <div class="flex-grow">
        <h1 class="text-2xl smallcaps">{{item?.name | localise:item?.className}}</h1>
        <div class="smallcaps text-gray-600">
          Size {{item?.size}} / Grade {{item?.grade}}
        </div>
      </div>
      <div>
        <a [href]="jsonHref" title="Click to download the JSON">JSON</a>
      </div>
    </div>

    <div class="itemStats">

      <div *ngIf="item?.quantumDrive" class="flex mt-3">
        <div>Speed {{item?.driveSpeed | speed}}</div>
        <div>PO to ArcCorp {{item?.secondsToArcCorp | si:'s'}}</div>
      </div>

      <div *ngIf="item?.quantumDrive" class="flex mt-3">
        <div>Fuel requirement {{item?.quantumFuelRequirement*1e9 | si:'l/Gm'}}</div>
        <div>Efficiency {{item?.efficiency | si:'m/l'}}</div>
      </div>

      <div *ngIf="item?.shieldGenerator" class="flex mt-3">
        <div>Shield health {{item?.maxShieldHealth | number:'1.0-0'}} HP</div>
        <div>Regeneration {{item?.maxShieldRegen | number:'1.0-0'}} HP/s</div>
      </div>

      <div *ngIf="item?.powerConnection" class="flex mt-3">
        <div>Standby power {{item?.powerConnection.PowerBase | number:'1.0-0'}} W</div>
        <div>Maximum power {{item?.powerConnection.PowerDraw | number:'1.0-0'}} W</div>
      </div>

      <div *ngIf="item?.powerConnection" class="flex mt-3">
        <div>Power to EM ratio {{item?.powerConnection.PowerToEM | number:'1.1-1'}} J/W</div>
        <div>EM @ base draw {{item?.powerConnection.PowerBase * item?.powerConnection.PowerToEM | number:'1.1-1'}} J</div>
        <div>EM @ full draw {{item?.powerConnection.PowerDraw * item?.powerConnection.PowerToEM | number:'1.1-1'}} J</div>
      </div>

      <div *ngIf="item?.heatConnection" class="flex mt-3">
        <div>Thermal energy base {{item?.heatConnection.ThermalEnergyBase | number:'1.0-0'}}</div>
        <div>Thermal energy draw {{item?.heatConnection.ThermalEnergyDraw | number:'1.0-0'}}</div>
        <div>Temperature to IR ratio {{item?.heatConnection.TemperatureToIR | number:'1.1-1'}}</div>
      </div>

      <div class="flex mt-3">
        <div>Component health {{item?.health | number:'1.0-0'}} HP</div>
        <div>Lifetime {{item?.maxLifetime | number:'1.0-0'}} h</div>
      </div>

    </div>

    <div class="mt-5 text-gray-800">CIG says:</div>
    <div class="text-gray-600 italic" style="white-space: pre-line;">
      "{{item?.description | localise}}"
    </div>

    <div *ngIf="item?.Raw.Entity.Components.SEntityInteractableParams?.Interactable?.SharedInteractions?.length">
      <h5 class="text-xl mt-5 mb-2">Interactions:</h5>
      <div *ngFor="let i of item?.Raw.Entity.Components.SEntityInteractableParams.Interactable.SharedInteractions">
        {{i.Name}} ({{i.DisplayName | localise}})
      </div>
    </div>

    <h5 class="text-xl mt-5">Available at:</h5>

    <div *ngIf="prices?.length" class="border border-gray-400 mt-2">
      <div *ngFor="let p of prices" class="px-4 py-2 border-b last:border-b-0 border-gray-400 flex justify-between">
        <div>{{p.shop.name}}
        </div>
        <div>{{p.item.basePrice * (1+(p.item.basePriceOffsetPercentage/100)) | number:'1.0-0'}} aUEC</div>
      </div>
    </div>
    <div *ngIf="!prices?.length">
      Not for sale
    </div>

  </div>
</div>
