<app-navbar></app-navbar>

<div class="container mx-auto bg-black bg-opacity-80 text-white text-opacity-80 p-10 my-10">

  <div class="flex">
    <div class="flex-grow">
      <h1 class="text-2xl">{{item?.Manufacturer?.Name}} {{item?.Name || item?.ClassName}}</h1>
      <div class="text-gray-400">
        Size {{item?.Size}} / Grade {{getGrade(item?.Grade)}}
      </div>
    </div>
    <div>
      <a [href]="jsonHref" title="Click to download the JSON" class="text-primary">JSON</a>
    </div>
  </div>

  <div class="itemStats space-y-5 mt-5">

    <div *ngIf="item?.QuantumDrive">
      <h2 class="text-xl">Quantum drive</h2>
      <app-quantum-drive [item]="item"></app-quantum-drive>
    </div>

    <div *ngIf="item?.Shield">
      <h2 class="text-xl">Shield generator</h2>
      <app-shield-stats [item]="item"></app-shield-stats>
    </div>

    <div *ngIf="item?.Cooler">
      <h2 class="text-xl">Cooler</h2>
      <app-stat title="Cooling rate" [value]="item!.Cooler.Rate" units="?/s" si="true"></app-stat>
    </div>

    <div *ngIf="item?.PowerPlant">
      <h2 class="text-xl">Power plant</h2>
      <app-stat title="Output" [value]="item!.PowerPlant.Output" units="W" si="true"></app-stat>
    </div>

    <div *ngIf="item?.Weapon">
      <h2 class="text-xl">Damage per second</h2>
      <div class="grid grid-cols-6 gap-5">
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerSecond?.Physical" title="Physical" [value]="item!.Weapon.Modes[0].DamagePerSecond?.Physical" units="/s"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerSecond?.Energy" title="Energy" [value]="item!.Weapon.Modes[0].DamagePerSecond?.Energy" units="/s"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerSecond?.Distortion" title="Distortion" [value]="item!.Weapon.Modes[0].DamagePerSecond?.Distortion" units="/s"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerSecond?.Thermal" title="Thermal" [value]="item!.Weapon.Modes[0].DamagePerSecond?.Thermal" units="/s"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerSecond?.Biochemical" title="Biochemical" [value]="item!.Weapon.Modes[0].DamagePerSecond?.Biochemical" units="/s"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerSecond?.Stun" title="Stun" [value]="item!.Weapon.Modes[0].DamagePerSecond?.Stun" units="/s"></app-stat>
      </div>
    </div>

    <div *ngIf="item?.Weapon">
      <h2 class="text-xl">Damage per shot</h2>
      <div class="grid grid-cols-6 gap-5">
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerShot?.Physical" title="Physical" [value]="item!.Weapon.Modes[0].DamagePerShot?.Physical" units="/shot"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerShot?.Energy" title="Energy" [value]="item!.Weapon.Modes[0].DamagePerShot?.Energy" units="/shot"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerShot?.Distortion" title="Distortion" [value]="item!.Weapon.Modes[0].DamagePerShot?.Distortion" units="/shot"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerShot?.Thermal" title="Thermal" [value]="item!.Weapon.Modes[0].DamagePerShot?.Thermal" units="/shot"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerShot?.Biochemical" title="Biochemical" [value]="item!.Weapon.Modes[0].DamagePerShot?.Biochemical" units="/shot"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].DamagePerShot?.Stun" title="Stun" [value]="item!.Weapon.Modes[0].DamagePerShot?.Stun" units="/shot"></app-stat>
      </div>
    </div>

    <div *ngIf="item?.Weapon">
      <h2 class="text-xl">Weapon performance</h2>
      <div class="grid grid-cols-4 gap-5">
        <app-stat title="Rate of fire" [value]="item!.Weapon.Modes[0].RoundsPerMinute" units="shots/minute"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].PelletsPerShot" title="Pellets" [value]="item!.Weapon.Modes[0].PelletsPerShot" units="pellets/shot"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].AmmoPerShot > 0" title="Ammo used" [value]="item!.Weapon.Modes[0].AmmoPerShot" units="/shot"></app-stat>
        <app-stat *ngIf="item!.Weapon.Modes[0].AmmoPerShot == 0" title="Ammo used" [value]="false" bool="true"></app-stat>
      </div>
    </div>
    <!--
      <div *ngIf="item?.Weapon">
        <h2 class="text-xl">Ammunition performance</h2>
        <div class="grid grid-cols-4 gap-5">
          <app-stat title="Speed" [value]="item!.ammo.speed" units="m/s" si="true"></app-stat>
          <app-stat title="Range" [value]="item!.ammo.range" units="m" si="true" decimals="1"></app-stat>
          <app-stat title="Detonates" [value]="item!.ammo.detonates" bool="true"></app-stat>
        </div>
      </div>
      -->
    <div *ngIf="item?.Missile">
      <h2 class="text-xl">Missile</h2>
      <div class="grid grid-cols-6 gap-5">
        <app-stat *ngIf="item!.Missile.Damage?.Physical" title="Physical" [value]="item!.Missile.Damage?.Physical" units=""></app-stat>
        <app-stat *ngIf="item!.Missile.Damage?.Energy" title="Energy" [value]="item!.Missile.Damage?.Energy" units=""></app-stat>
        <app-stat *ngIf="item!.Missile.Damage?.Distortion" title="Distortion" [value]="item!.Missile.Damage?.Distortion" units=""></app-stat>
        <app-stat *ngIf="item!.Missile.Damage?.Thermal" title="Thermal" [value]="item!.Missile.Damage?.Thermal" units=""></app-stat>
        <app-stat *ngIf="item!.Missile.Damage?.Biochemical" title="Biochemical" [value]="item!.Missile.Damage?.Biochemical" units=""></app-stat>
        <app-stat *ngIf="item!.Missile.Damage?.Stun" title="Stun" [value]="item!.Missile.Damage?.Stun" units=""></app-stat>
      </div>
    </div>
    <div *ngIf="item?.QuantumInterdiction">
      <h2 class="text-xl">Quantum Interdiction Generator</h2>
      <div class="grid grid-cols-4 gap-5">
        <app-stat title="Jamming range" [value]="item!.QuantumInterdiction.JammingRange" units="m" si="true"></app-stat>
        <app-stat title="Interdiction range" [value]="item!.QuantumInterdiction.InterdictionRange" units="m" si="true"></app-stat>
      </div>
    </div>

    <div *ngIf="item?.Emp">
      <h2 class="text-xl">Electromagnetic Pulse Generator</h2>
      <div class="grid grid-cols-4 gap-5">
        <app-stat title="Damage" [value]="item!.Emp.Damage" units="HP"></app-stat>
        <app-stat title="Range" [value]="item!.Emp.Radius" units="m"></app-stat>
        <app-stat title="Charge time" [value]="item!.Emp.ChargeTime" units="s"></app-stat>
        <app-stat title="Cooldown time" [value]="item!.Emp.CooldownTime" units="s"></app-stat>
      </div>
    </div>

    <div *ngIf="item?.Radar">
      <h2 class="text-xl">Radar</h2>
      <div class="grid grid-cols-4 gap-5">
        <app-stat title="Detection lifetime" [value]="item!.Radar.DetectionLifetime" units="s"></app-stat>
        <app-stat title="Altitude ceiling" [value]="item!.Radar.AltitudeCeiling" units="m"></app-stat>
        <app-stat title="Cross section occlusion" [value]="item!.Radar.CrossSectionOcclusion" bool="true"></app-stat>
      </div>
    </div>

    <div *ngIf="item?.Scanner">
      <h2 class="text-xl">Scanner</h2>
      <div class="grid grid-cols-4 gap-5">
        <app-stat title="Range" [value]="item!.Scanner.Range" units="m"></app-stat>
      </div>
    </div>

    <div *ngIf="item?.Ping">
      <h2 class="text-xl">Ping</h2>
      <div class="grid grid-cols-4 gap-5">
        <app-stat title="Charge time" [value]="item!.Ping.ChargeTime" units="s"></app-stat>
        <app-stat title="Cooldown time" [value]="item!.Ping.CooldownTime" units="s"></app-stat>
      </div>
    </div>

    <div *ngIf="item?.PowerConnection">
      <h2 class="text-xl">Power connection</h2>
      <app-power-usage [item]="item"></app-power-usage>
    </div>

    <div *ngIf="item?.HeatConnection">
      <h2 class="text-xl">Cooler connection</h2>
      <div class="grid grid-cols-4 gap-5">
        <app-stat title="Thermal energy idle" [value]="item!.HeatConnection.ThermalEnergyBase" units="J"></app-stat>
        <app-stat title="Thermal energy full" [value]="item!.HeatConnection.ThermalEnergyDraw" units="J"></app-stat>
        <app-stat title="Cooling rate" [value]="item!.HeatConnection.CoolingRate" units="J/s"></app-stat>
      </div>
    </div>
    <!--
      <div *ngIf="item?.PowerConnection || item?.HeatConnection">
        <h2 class="text-xl">Emissions</h2>
        <app-power-emissions *ngIf="item?.PowerConnection" [item]="item"></app-power-emissions>
        <app-heat-emissions *ngIf="item?.HeatConnection" [item]="item" class="mt-2"></app-heat-emissions>
      </div>
-->
    <div *ngIf="item?.Armour" class="space-y-5">
      <div *ngIf="item?.Armour?.DamageMultipliers">
        <h2 class="text-xl">Damage multipliers</h2>
        <div class="grid grid-flow-row grid-cols-5">
          <app-stat title="Physical" [value]="item!.Armour.DamageMultipliers.Physical" decimals="2"></app-stat>
          <app-stat title="Energy" [value]="item!.Armour.DamageMultipliers.Energy" decimals="2"></app-stat>
          <app-stat title="Distortion" [value]="item!.Armour.DamageMultipliers.Distortion" decimals="2"></app-stat>
          <app-stat title="Thermal" [value]="item!.Armour.DamageMultipliers.Thermal" decimals="2"></app-stat>
          <app-stat title="Biochemical" [value]="item!.Armour.DamageMultipliers.Biochemical" decimals="2"></app-stat>
        </div>
      </div>

      <div *ngIf="item?.Armour?.SignalMultipliers">
        <h2 class="text-xl">Signal multipliers</h2>
        <div class="grid grid-cols-5">
          <app-stat title="Cross section" [value]="item!.Armour.SignalMultipliers.CrossSection" decimals="2"></app-stat>
          <app-stat title="Infrared" [value]="item!.Armour.SignalMultipliers.Infrared" decimals="2"></app-stat>
          <app-stat title="Electromagnetic" [value]="item!.Armour.SignalMultipliers.Electromagnetic" decimals="2"></app-stat>
        </div>
      </div>
    </div>

    <div *ngIf="item?.Durability">
      <h2 class="text-xl">Durability</h2>
      <app-durability [item]="item"></app-durability>
    </div>

    <div *ngIf="item?.Description">
      <div class="text-xl">Description</div>
      <div class="text-gray-400 italic" style="white-space: pre-line;">
        {{item?.Description}}
      </div>
    </div>

    <div>
      <h2 class="text-xl">Sold at</h2>

      <div class="grid grid-flow-row grid-cols-4 gap-2">
        <app-stat *ngFor="let p of prices" [title]="p.shop.name" [value]="getActualPrice(p)" units="aUEC"></app-stat>
      </div>

      <div *ngIf="!prices?.length" class="text-gray-600">
        Not available for purchase in-game
      </div>
    </div>
  </div>

</div>
