<h4 class="mt-10 text-xl md:text-2xl font-bold dark:text-white leading-none">{{groupName}}</h4>

<div *ngIf="groupItems" class="mt-4 bg-white dark:bg-black border border-gray-400">

  <ng-container *ngFor="let class of groupItems | keyvalue">

    <div (click)="toggleItems(class.key)" class="flex flex-col md:flex-row md:items-center border-b last:border-b-0 cursor-pointer">

      <!-- Item group name -->
      <div class="flex-grow font-bold p-2 md:pl-4">{{class.key}}</div>

      <!-- Size boxes -->
      <div class="flex-shrink-0 flex overflow-auto">
        <div *ngFor="let size of class.value.bySize; let s = index" class="size-box">
          <div *ngIf="size.length" class="size-box-inner full">
            <small>S{{s}}</small><br>
            {{size.length | nozero}}
          </div>
          <div *ngIf="!size.length" class="size-box-inner empty">
            <small>S{{s}}</small>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="class.value.showItems">
      <ng-container *ngFor="let size of class.value.bySize">
        <div *ngFor="let itemPort of size" class="border-b last:border-b-0 overflow-auto">
          <app-itemport [itemPort]="itemPort.itemPort"></app-itemport>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

</div>

<div *ngIf="!groupItems" class="mt-4 px-4 py-2 bg-white dark:bg-black text-gray-600 border border-gray-400">
  No {{groupName}}
</div>
