<h4 class="text-xl mt-4">{{groupName}}</h4>

<div *ngIf="groupItems" class="bg-black border border-gray-600">

  <ng-container *ngFor="let class of groupItems | keyvalue">

    <div (click)="toggleItems(class.key)" class="flex border-gray-600 border-b last:border-b-0 cursor-pointer items-center pl-4">

      <!-- Item group name -->
      <div class="flex-grow font-bold">{{class.key}}</div>

      <!-- Size boxes -->
      <div class="flex-shrink-0 flex">
        <div *ngFor="let size of class.value.bySize; let s = index" class="size-box border-gray-600 border-l">
          <div *ngIf="size.length" class="size-box-inner bg-primary">
            <span class="text-xs text-white text-opacity-80">S{{s}}</span><br>
            <span class="text-white text-opacity-90">{{size.length | nozero}}</span>
          </div>
          <div *ngIf="!size.length" class="size-box-inner bg-gray-900">
            <span class="text-xs text-white text-opacity-80">S{{s}}</span>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="class.value.showItems">
      <ng-container *ngFor="let size of class.value.bySize">
        <div *ngFor="let itemPort of size" class="border-gray-600 border-b last:border-b-0 pl-2">
          <app-itemport [itemPort]="itemPort.itemPort"></app-itemport>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

</div>

<div *ngIf="!groupItems" class="px-4 py-2 bg-black text-gray-600 border border-gray-600">
  None
</div>
