<h4 class="mt-4">{{groupName}}</h4>
<div *ngIf="groupItems" class="list-group">
  <ng-container *ngFor="let class of groupItems | keyvalue">
    <div (click)="toggleItems(class.key)" class="list-group-item component-group d-flex cursor-pointer align-items-center">
      <div class="component-group-title mr-auto">
        <strong>{{class.key}}</strong>
      </div>
      <div *ngFor="let size of class.value.bySize; let s = index" class="size-box">
        <div *ngIf="size.length" class="size-box-inner full">
          <small>S{{s}}</small><br>
          {{size.length | nozero}}
        </div>
        <div *ngIf="!size.length" class="size-box-inner empty">
          <small>S{{s}}</small>
        </div>
      </div>
    </div>
    <ng-container *ngIf="class.value.showItems">
      <ng-container *ngFor="let size of class.value.bySize">
        <div *ngFor="let itemPort of size" class="list-group-item component-port">
          <app-itemport [itemPort]="itemPort.itemPort"></app-itemport>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<div *ngIf="!groupItems" class="list-group">
  <div class="list-group-item d-flex align-items-center">
    <div class="component-group">
      No {{groupName}}
    </div>
  </div>
</div>
