<nav class="navbar navbar-expand-lg">

  <div class="container">
    <a class="navbar-brand" routerLink="/" style="font-variant: small-caps;">SCunpacked</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ships" routerLinkActive="active">Ships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/items" routerLinkActive="active">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shops" routerLinkActive="active">Shops</a>
        </li>
      </ul>
    </div>

    <span (click)="toggleTheme()" class="navbar-text">
      <i *ngIf="themeSetting == 'dark'" title="Dark mode" class="fas fa-moon"></i>
      <i *ngIf="themeSetting == 'light'" title="Light mode" class="fas fa-sun"></i>
      <i *ngIf="themeSetting == 'auto'" title="Use OS dark/light setting" class="fas fa-adjust"></i>
    </span>
  </div>

</nav>
