<nav class="bg-black bg-opacity-60">

  <div class="container overflow-auto mx-auto px-5 py-3 flex lg:flex-row items-baseline text-gray-400 space-x-5">
    <a class="text-xl text-primary smallcaps text-shadow-sm" routerLink="/">SCunpacked</a>
    <a class="hover:text-white" routerLink="/ships" routerLinkActive="text-white">Ships</a>
    <a class="hover:text-white" routerLink="/items" routerLinkActive="text-white">Ship equipment</a>
    <a class="hover:text-white" routerLink="/fps-weapons" routerLinkActive="text-white">FPS gear</a>
    <a class="hover:text-white" routerLink="/shops" routerLinkActive="text-white">Shops</a>
    <a class="hover:text-white" routerLink="/commodities" routerLinkActive="text-white">Commodities</a>
    <span class="flex-grow"></span>
    <span class=""><a href="https://github.com/richardthombs/scunpacked"><i class="fab fa-lg fa-github hover:text-white"></i></a></span>
    <span class="smallcaps">v3.17.4 PTU</span>
  </div>

</nav>
