<nav class="navbar navbar-expand-lg">

  <div class="container">
    <a class="navbar-brand" routerLink="/">SCUNPACKED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ships" routerLinkActive="active">Ships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/items" routerLinkActive="active">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shops" routerLinkActive="active">Shops</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
