<app-navbar></app-navbar>


<div class="container mx-auto bg-black bg-opacity-80 text-white text-opacity-80 p-10 my-10 space-y-10">

  <div *ngFor="let c of commodityList" class="">
    <div class="flex items-baseline border-b mb-2">
      <div class="text-xl mr-1">
        {{c.name}}
      </div>
      <div class="text-primary">
        {{c.profitPerUnit | number:"1.2-2"}} aUEC profit
      </div>
    </div>

    <div class="flex">
      <div class="flex-1">
        <div class="text-lg mb-1">Sold at</div>
        <table class="w-full table-fixed">
          <tr *ngFor="let s of c.sells">
            <td class="w-3/6">{{s.shop.name}}</td>
            <td class="w-1/6">{{s.item.discPrice | number:"1.2-2"}} aUEC</td>
            <td class="w-1/6">{{s.item.refreshRatePercentagePerMinute | number:"1.2-2"}} %/min</td>
            <td class="w-1/6">{{s.item.maxInventory * s.item.refreshRatePercentagePerMinute / 100 | number:"1.0-0"}}</td>
          </tr>
        </table>
      </div>
      <div class="flex-1">
        <div class="text-lg mb-1">Bought at</div>
        <table class="w-full table-fixed">
          <tr *ngFor="let s of c.buys">
            <td class="w-3/6">{{s.shop.name}}</td>
            <td class="w-1/6">{{s.item.premPrice | number:"1.2-2"}} aUEC</td>
            <td class="w-1/6">{{s.item.refreshRatePercentagePerMinute | number:"1.2-2"}} %/min</td>
            <td class="w-1/6">{{s.item.maxInventory * s.item.refreshRatePercentagePerMinute / 100 | number:"1.0-0"}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
