<div class="d-flex align-items-center loadout">
  <div class="size-box">
    <div class="size-box-inner" [class.full]="itemPort.item" [class.empty]="!itemPort.item">
      S{{itemPort.maxSize}}
    </div>
  </div>
  <div class="portflag"><span *ngIf="!itemPort.isEditable()" title="Loadout locked"><i class="fas fa-fw fa-lock"></i></span></div>
  <div hidden class="portflag"><span *ngIf="itemPort.isWeaponHardpoint()" title="Weapon hardpoint">W</span></div>
  <div class="portflag">
    <span *ngIf="itemPort.isGunHardpoint()" title="Gun hardpoint">G</span>
    <span *ngIf="itemPort.isMissileHardpoint()" title="Missile hardpoint">M</span>
  </div>
  <div class="portflag">
    <span *ngIf="itemPort.isRemoteControlled()" title="Remote controlled via MFD">r</span>
    <span *ngIf="itemPort.isManned()" title="Manned by crew member">m</span>
    <span *ngIf="itemPort.isPilotControlled()" title="Pilot controlled">p</span>
  </div>
  <div class="portflag"><span *ngIf="itemPort.isGimballed()" title="Weapon is in a gimballed mount">g</span></div>
  <div class="portname">
    {{itemPort.name}}
  </div>
  <div *ngIf="itemPort.itemClass" style="overflow:hidden;">
    <div [ngSwitch]="itemPort.item?.type" class="item-stats-container">
      <app-powerplant *ngSwitchCase="'PowerPlant'" [item]="itemPort.item"></app-powerplant>
      <app-cargo *ngSwitchCase="'Cargo'" [item]="itemPort.item"></app-cargo>
      <app-shield *ngSwitchCase="'Shield'" [item]="itemPort.item"></app-shield>
      <app-quantumdrive *ngSwitchCase="'QuantumDrive'" [item]="itemPort.item"></app-quantumdrive>
      <app-quantumfueltank *ngSwitchCase="'QuantumFuelTank'" [item]="itemPort.item"></app-quantumfueltank>
      <app-thruster *ngSwitchCase="'MainThruster'" [item]="itemPort.item"></app-thruster>
      <app-thruster *ngSwitchCase="'ManneuverThruster'" [item]="itemPort.item"></app-thruster>
      <app-hydrogenfueltank *ngSwitchCase="'FuelTank'" [item]="itemPort.item"></app-hydrogenfueltank>
      <app-hydrogenfuelintake *ngSwitchCase="'FuelIntake'" [item]="itemPort.item"></app-hydrogenfuelintake>
    </div>
    <div *ngIf="!itemPort.item" class="text-right">{{itemPort.itemClass}} (no data)</div>
    <div *ngIf="itemPort.item" class="text-right">
      <a [routerLink]="['/items', itemPort.itemClass.toLowerCase()]">{{itemPort.item.name | localise:itemPort.itemClass}}</a>
      <small class="ml-2"><a [routerLink]="['/items/compare']" [queryParams]="{type: itemPort.item.type, subType: itemPort.item.subType, size: itemPort.item.size, selected: itemPort.itemClass}">Compare</a></small>
    </div>
  </div>
  <div *ngIf="!itemPort.itemClass" class="text-muted text-right">Nothing installed</div>
</div>
<ng-container *ngIf="itemPort?.item?.itemPorts">
  <app-itemport *ngFor="let ip of itemPort.item.itemPorts" [itemPort]="ip"></app-itemport>
</ng-container>
