<div *ngIf="itemPort.Category !== 'Weapon attachments'" class="flex items-center">

  <!-- Size box -->
  <div class="size-box-inner flex-shrink-0 flex items-center justify-center w-8 h-8 my-2 mr-4 text-xs" [class.bg-primary]="itemPort.InstalledItem" [class.bg-gray-900]="!itemPort.InstalledItem">
    <span class="text-white text-opacity-80">S{{itemPort.Size}}</span>
  </div>

  <div class="flex-1 flex">
    <!-- Port flags-->
    <div>
      <!--
      <span *ngIf="!itemPort.isEditable()" class="mr-2 last:mr-4" title="Loadout locked"><i class="fas fa-fw fa-lock"></i></span>
      <span *ngIf="false && itemPort.isWeaponHardpoint()" class="mr-2 last:mr-4" title="Weapon hardpoint">W</span>
      <span *ngIf="false && itemPort.isGunHardpoint()" class="mr-2 last:mr-4" title="Gun hardpoint">G</span>
      <span *ngIf="false && itemPort.isMissileHardpoint()" class="mr-2 last:mr-4" title="Missile hardpoint">M</span>
      <span *ngIf="itemPort.isRemoteControlled()" class="mr-2 last:mr-4" title="Remote controlled via MFD"><i class="fas fa-gamepad"></i></span>
      <span *ngIf="itemPort.isManned()" class="mr-2 last:mr-4" title="Manned by crew member"><i class="fas fa-running"></i></span>
      <span *ngIf="itemPort.isWeaponHardpoint() && itemPort.isPilotControlled()" class="mr-2 last:mr-4" title="Pilot controlled"><i class="fas fa-male"></i></span>
      <span *ngIf="itemPort.isGimballed()" class="mr-2 last:mr-4" title="Weapon is in a gimballed mount"><i class="fas fa-crosshairs"></i></span>
      -->
    </div>

    <!-- Port name-->
    <div class="mr-4 flex-1">
      {{itemPort.PortName}}
    </div>
  </div>

  <div class="flex-1">
    <!-- Item name -->
    <div *ngIf="itemPort.InstalledItem" class="mr-4">
      <a [routerLink]="['/items', itemPort.Loadout.toLowerCase()]" class="text-primary">{{itemPort.InstalledItem.Name || itemPort.Loadout}}</a>
      <span class="text-xs text-primary ml-2"><a [routerLink]="['/items/compare']" [queryParams]="{type: itemPort.InstalledItem.Type, size: itemPort.InstalledItem.Size, selected: itemPort.Loadout}">Compare</a></span>
    </div>

    <!-- Installed item info -->
    <ng-container *ngIf="itemPort.Loadout">

      <!-- Item stats -->
      <app-powerplant *ngIf="itemPort.InstalledItem?.PowerPlant" [item]="itemPort.InstalledItem"></app-powerplant>
      <app-cargo *ngIf="itemPort.InstalledItem?.CargoGrid" [item]="itemPort.InstalledItem"></app-cargo>
      <app-shield *ngIf="itemPort.InstalledItem?.Shield" [item]="itemPort.InstalledItem"></app-shield>
      <app-quantumdrive *ngIf="itemPort.InstalledItem?.QuantumDrive" [item]="itemPort.InstalledItem"></app-quantumdrive>
      <app-quantumfueltank *ngIf="itemPort.InstalledItem?.QuantumFuelTank" [item]="itemPort.InstalledItem"></app-quantumfueltank>
      <app-thruster *ngIf="itemPort.InstalledItem?.Thruster" [item]="itemPort.InstalledItem"></app-thruster>
      <app-hydrogenfueltank *ngIf="itemPort.InstalledItem?.HydrogenFuelTank" [item]="itemPort.InstalledItem"></app-hydrogenfueltank>
      <app-hydrogenfuelintake *ngIf="itemPort.InstalledItem?.HydrogenFuelIntake" [item]="itemPort.InstalledItem"></app-hydrogenfuelintake>

      <!-- Interactions -->
      <div hidden>
        <span class="inline-block text-xs mr-4 last:mr-0" *ngFor="let i of itemPort?.item?.Raw?.Entity?.Components?.SEntityInteractableParams?.Interactable?.SharedInteractions">{{i.Name}}</span>
      </div>

      <!-- No item data available message -->
      <div *ngIf="!itemPort.InstalledItem" class="mr-4">{{itemPort.Loadout}} (no data)</div>

    </ng-container>

    <!-- Nothing installed message -->
    <div *ngIf="!itemPort.Loadout" class="text-gray-600 mr-4">Nothing installed</div>

  </div>

</div>

<!-- Sub ports -->
<ng-container *ngIf="itemPort?.InstalledItem?.Ports">
  <app-itemport class="block" *ngFor="let ip of itemPort.InstalledItem.Ports" [itemPort]="ip"></app-itemport>
</ng-container>
