<div class="container">
  <h1>{{ship?.Raw.Entity.Components.VehicleComponentParams.vehicleName}}</h1>
  {{ship?.Raw.Entity.Components.VehicleComponentParams.vehicleDescription}}

  <div class="row">
    <div class="col-sm-6">
      <app-itemgroup *ngFor="let g of leftGroups" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>
    </div>
    <div class="col-sm-6">
      <app-itemgroup *ngFor="let g of rightGroups" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>
    </div>
  </div>
  <div class="row">
    <app-itemgroup *ngFor="let g of unexpectedGroups()" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>
  </div>
</div>
