<div class="container">
  <h1>{{ship?.Raw.Entity.Components.VehicleComponentParams.vehicleName | localise | async}}</h1>
  <div class="text-muted">
    {{ship?.Raw.Entity.Components.VehicleComponentParams.vehicleCareer | localise | async}} / {{ship?.Raw.Entity.Components.VehicleComponentParams.vehicleRole | localise | async}}<br>
    Size {{ship?.Raw.Entity.Components.SAttachableComponentParams.AttachDef.Size}},
    crew {{ship?.Raw.Entity.Components.VehicleComponentParams.crewSize}}
  </div>
  <div class="mt-3">
    {{ship?.Raw.Entity.Components.VehicleComponentParams.vehicleDescription | localise | async}}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-itemgroup *ngFor="let g of leftGroups" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>
    </div>
    <div class="col-sm-6">
      <app-itemgroup *ngFor="let g of rightGroups" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>
    </div>
  </div>
  <div class="row">
    <app-itemgroup *ngFor="let g of unexpectedGroups()" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>
  </div>
</div>
