td {
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
}

tr > td:first-child {
  text-align: right;
  cursor: pointer;
}

.best {
  font-weight: bold;
  color: green;
}

.best-90 {
  color: green;
}

.best-00 {
  color: red;
}

.worst {
  font-weight: bold;
  color: red;
}

.field-group-title {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0;
}

.better {
  color: green;
}

.worse {
  color: red;
}
