<app-navbar></app-navbar>

<div class="container-outer">
  <div class="container mx-auto container-inner">
    <div class="flex">
      <div class="flex-1">
        <h1 class="text-2xl smallcaps">{{ship?.vehicleName | localise:ship?.className}}</h1>
        <div class="smallcaps text-gray-600">
          {{ship?.vehicleCareer | localise:'No career'}} / {{ship?.vehicleRole | localise:'No role'}}
        </div>
      </div>
      <div>
        <a [href]="jsonHref" title="Click to download the JSON">JSON</a>
      </div>
    </div>

    <div class="vehicleStats">

      <div class="flex mt-3">
        <div>Size {{ship?.vehicleSize}}</div>
        <div>Crew {{ship?.crewSize}}</div>
        <div>Cargo {{ship?.scu | number}} SCU</div>
      </div>

      <div class="flex mt-3">
        <div>Chassis {{ship?.hitPoints | number: '1.0-0'}} HP</div>
        <div>Shield {{ship?.maxShieldHealth | number:'1.0-0'}} HP</div>
        <div>Mass {{ship?.mass | number:'1.0-0'}} kg</div>
      </div>

      <div class="flex mt-3">
        <div>Quantum speed {{ship?.quantumSpeed | si:'m/s'}}</div>
        <div>Quantum range {{ship?.quantumRange | si:'m'}}</div>
        <div>Quantum tank {{ship?.quantumFuelCapacity | number:'1.0-0'}} l</div>
      </div>

      <div class="flex">
        <div>PO to ArcCorp (time) {{ship?.secondsToArcCorp | si:'s'}}</div>
        <div>PO to ArcCorp (fuel) {{ship?.fuelToArcCorp | si:'l'}}</div>
        <div>PO to ArcCorp and back {{ship?.timesToArcCorpAndBack || 0 | number:'1.0-1'}} times</div>
      </div>

      <div class="flex mt-3">
        <div>Maximum speed {{ship?.maxSpeed | number:'1.0-0'}} m/s</div>
        <div>SCM speed {{ship?.scmSpeed | number:'1.0-0'}} m/s</div>
      </div>

      <div class="flex">
        <div>Main engine fuel usage {{ship?.mainThrusterBurnRate | si:'l/s'}}</div>
        <div>Thruster fuel usage {{ship?.manneuverThrusterBurnRate | si:'l/s'}}</div>
        <div hidden>Hydrogen tank {{ship?.fuelCapacity | number:'1.0-0'}} l</div>
        <div>Fuel intake rate {{ship?.fuelIntakePushRate | si:'l/s'}}</div>
      </div>

      <div class="flex mt-3">
        <div>Standby power usage {{ship?.totalPowerBase | si: "W"}}</div>
        <div>Maximum power usage {{ship?.totalPowerDraw | si: "W"}}</div>
      </div>

    </div>

    <div class="mt-5">CIG says:</div>
    <div class="text-gray-600 italic" style="white-space: pre-line;">
      "{{ship?.vehicleDescription | localise}}"
    </div>

    <div class="mt-5">
      <app-itemgroup *ngFor="let g of groups" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>

      <div class="mt-3">
        <button class="btn btn-outline-secondary" (click)="toggleBoring()" *ngIf="!includeBoring">Show the boring bits</button>
      </div>

      <app-itemgroup *ngFor="let g of unexpectedGroups()" [groupName]="g" [groupItems]="grouped[g]"></app-itemgroup>
    </div>
  </div>

  <div hidden class="container mt-3">
    <h6>Debug - all item ports</h6>
    <table class="table">
      <tr *ngFor="let itemPort of ItemPorts">
        <td>
          <app-itemport [itemPort]="itemPort"></app-itemport>
        </td>
        <td hidden>{{itemPort.types.join(", ")}}</td>
        <td>{{itemPort.item?.type}}<span *ngIf="itemPort.item?.subType">.{{itemPort.item?.subType}}</span></td>
      </tr>
    </table>
  </div>

</div>
