<div class="container mt-3">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <h4>
        Welcome to Star Citizen Unpacked!
      </h4>
      <p>
        I know the site is ugly to look at, but hopefully the content makes up for it.</p>
      <p>
        This site and the many other loadout-related sites wouldn't be possible without <a href="https://github.com/dolkensp/unp4k">unp4k</a> by <a href="https://github.com/dolkensp">Peter Dolkens</a>.
      </p>
      <p>
        If you would like to comment, contribute or complain then please visit the <a href="https://github.com/richardthombs/scdb">GitHub project page</a> and <a href="https://github.com/richardthombs/scdb/issues">open an issue</a>.
      </p>
      <a class="btn btn-primary" href="ships">Ships</a>&nbsp;
      <a class="btn btn-primary" href="items">Items</a>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
