.fankit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;
  color: white;
  padding: 25px;
  font-size: 0.9rem;

  img {
    height: 100px;
    width: 100px;
    margin-right: 25px;
  }

  a {
    color: white;
    font-weight: bold;
  }
}
