.credits {
  display: flex;
  justify-content: space-around;

  background-color: rgba(0,0,0,0.75);
  color: white;
  font-size: 10pt;

  >* {
    margin: 25px;
  }

  .cig-image {
    height: 100px;
    width: 100px;
    flex: 0 0 100px;
  }
  .cig-blurb {
    flex: 1 1 50%;
    max-width: 50em;
  }
  .our-blurb {
    flex: 1 1 25%;
    max-width: 25em;
  }

  a {
    color: white;
    font-weight: bold;
  }
}

@media (min-height: 600px) {
  .credits {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .credits {
    flex-direction: column;
    position: relative;

    >*:not(:first-child) {
      margin-top: 0;
    }

    .cig-image {
      align-self: center;
    }
  }
}

.welcome-outer {
  background-color: rgba(255,255,255,0.25);
  padding: 25px;
}
