.fankit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;
  color: white;
  padding: 25px;
  font-size: 10pt;

  img {
    height: 100px;
    width: 100px;
    margin-right: 25px;
  }

  a {
    color: white;
    font-weight: bold;
  }
}

.welcome-outer {
  background-color: rgba(255,255,255,0.25);
  padding: 25px;
}


.splash {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;

  background-image: url(https://media.robertsspaceindustries.com/9qk5ii6kxbs5f/store_slideshow_large_zoom.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
