<app-navbar [dark]="false"></app-navbar>

<div class="container-outer">
  <div class="container container-inner">
    <h4>
      Welcome to Star Citizen® Unpacked!
    </h4>
    <p>
      I know the site is ugly to look at, but hopefully the content makes up for it!
    </p>
    <p>
      If you would like to comment, contribute or complain then please visit the <a href="https://github.com/richardthombs/scunpacked">GitHub project page</a> and <a href="https://github.com/richardthombs/scunpacked/issues">open an issue</a>.
    </p>
    <a class="btn btn-secondary" routerLink="/ships">Ships</a>&nbsp;
    <a class="btn btn-secondary" routerLink="/items">Items</a>&nbsp;
    <a class="btn btn-secondary" routerLink="/shops">Shops</a>&nbsp;
  </div>
</div>
<div class="fankit d-flex justify-content-around align-items-center">
  <div class="d-flex justify-content-center align-items-center">
    <img src="https://support.robertsspaceindustries.com/hc/article_attachments/360022704853/MadeByTheCommunity_White.png">
    <div class="mr-3" style="max-width: 40rem;">
      <div>
        This is an unofficial Star Citizen fansite, not affiliated with the Cloud Imperium group of companies.
        All content on this site not authored by its host or users are property of their respective owners.
      </div>
      <div class="mt-1">
        <strong>Star Citizen®</strong>, <strong>Roberts Space Industries®</strong> and <strong>Cloud Imperium®</strong> are registered trademarks of <strong>Cloud Imperium Rights LLC</strong>
      </div>
    </div>
  </div>
  <div style="max-width: 20rem;">
    <p>
      This site and the many others like it would not be possible without <a href="https://github.com/dolkensp/unp4k">unp4k</a> by <a href="https://github.com/dolkensp">Peter Dolkens</a>.
    </p>
    <p>Some backgrounds taken from <a href="https://screenshotcitizen.com">screenshotcitizen.com</a></p>
  </div>
</div>
