<app-navbar></app-navbar>

<div class="container mx-auto max-w-7xl p-10 mt-10 bg-black bg-opacity-80 hidden">

  <h4 class="text-2xl">
    Welcome to Star Citizen® Unpacked!
  </h4>

  <div class="text-gray-400 space-y-4">
    <p>
      This site aims to provide an easy way to browse and compare the various ships, vehicles, equipment, weapons and armour available in the game. I am still working
      on identifying and extracting all the necessary ship and item statistics, so if you find some stat is not listed please feel free to add an issue in GitHub
      and I'll do my best to add it.
    </p>

    <p>
      Ultimately there will also be a public API to make it easy for other websites to consume the data without having to go through the process of extracting
      the data from the game files first, but while I'm building the site, the data in the API is frequently changing, so it might be a bit frustrating to try
      and use it at the moment.
    </p>

    <p>
      If you would like to contribute, comment or complain then please visit the <a href="https://github.com/richardthombs/scunpacked">GitHub project page</a> and <a href="https://github.com/richardthombs/scunpacked/issues">open an issue</a>.
    </p>
  </div>

</div>

<div class="container mx-auto max-w-7xl p-10 mt-10 bg-black bg-opacity-80">

  <h2 class="text-2xl">Latest updates</h2>

  <ol class="mt-10">

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <circle cx="12" cy="12" r="11" fill="none" stroke="currentColor" stroke-width="2"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">3.12.0a LIVE</div>
      <div class="mb-10">
        <div class="text-xl">Notable changes</div>
        <div class="text-gray-400 space-y-2">
          <p>
            Nothing interesting really. They ripped out a whole bunch of stuff related to Xenothreat.
          </p>
        </div>
      </div>

    </li>

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">3.12.0n</div>
      <div class="mb-10">
        <div class="text-xl">Notable changes</div>
        <div class="text-gray-400 space-y-2">
          <p>
            The <span class="text-white">Constellation</span>'s thruster power has been nerfed. Main engine decreased, retros decreased, VTOL decreased, maneuvering cut in half.
          </p>
          <p>
            More labels added for the anticipated <span class="text-white">Xenothreat</span> mission.
          </p>
          <p>
            The <span class="text-white">Idris</span>' quantum drive acceleration has been reduced by 90%!
          </p>
          <p>
            The spurious S1 weapon hardpoint on the <span class="text-white">Gladius</span>' life support system has been removed!
          </p>
        </div>
      </div>

    </li>


    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">3.12.0m</div>
      <div class="mb-10">
        <div class="text-xl">Notable changes</div>
        <div class="text-gray-400 space-y-2">
          <p>
            The <span class="text-white">Sabre Raven</span>'s retro and maneuvering thrusters have been buffed. So has its fuel intake rates.
          </p>
          <p>
            <span class="text-white">New paints</span> have been added: Procyon (Arrow, Cutlass Black, Gladius, Hammerhead, Idris, Sabre & Valkyrie ), Lunar New Year (Freelancer & Nomad), St Patrick's Day (Mercury Star Runner).
          </p>
          <p>
            The <span class="text-white">S1 Sukoran</span> shield health has been nerfed from 6,000 -> 3,500. Correspondingly lower power draw and cooling requirements too.
          </p>
          <p>
            The neck, nose and tail of the <span class="text-white">Constellation</span> have been nerfed quite a bit. Not sure if they have accidentally reverted it to the 3.11 stats?
          </p>
          <p>
            <span class="text-white">Missile</span> and <span class="text-white">countermeasure</span> prices have been increased by a factor of about 3.
          </p>
          <p>
            <span class="text-white">Holiday boxes</span> sell for 1,000 aUEC.
          </p>
          <p>
            <span class="text-white">Claim times</span> and some (but not all) costs have been reduced. For exmaple, Carrack is down from 150/30 minutes to 90/15 but no price change. 890J from 270/54 -> 135/22 and 40,500 aUEC -> 33,750 aUEC.
          </p>
          <p>
            The <span class="text-white">S1 Arbor</span> and <span class="text-white">S2 Hofstede</span> mining lasers have had their energy output nerfed.
          </p>
        </div>
      </div>

    </li>

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">Website</div>
      <div class="mb-10">
        <div class="text-xl">Insurance times</div>
        <div class="text-gray-400">
          Insurance times and costs have been added to the ship information and ship comparison pages.
        </div>
      </div>

    </li>

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">3.12.0k</div>
      <div class="mb-10">
        <div class="text-xl">Notable changes</div>
        <div class="text-gray-400">
          This is a very small patch. The improved hull and nacelle strength of the <span class="text-white">Constellation</span> series has been walked-back a bit and
          the name of the <span class="text-white">Ares</span> was changed from "Ares Starfighter" to "Ares Star Fighter".
        </div>
      </div>

    </li>

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">3.12.0j</div>
      <div class="mb-10">
        <div class="text-xl">Notable changes</div>
        <div class="text-gray-400 space-y-2">
          <p>
            The <span class="text-white">Constellation</span> series has received hull buffs. All critical sections of the ship have had their health buffed by a factor of 2 or even 4!
            It will be much harder to detach the nacelles too.
            Acceleration been has improved on all thrusters, but this has come at a cost: the SCunpacked estimated time till the tanks run empty has dropped from 7,600 seconds to just 2,961.
            Tweaks have also been made to "ground turbulence" and "precision max distance & landing multiplier", whatever they are :)
          </p>
          <p>
            The <span class="text-white">Terrapin</span> thrusters have been improved, the maneuvering thrusters in particular.
            Fuel capacity has been doubled to compensate for the increased fuel consumption.
          </p>
          <p>
            The maneuvering thrusters on the <span class="text-white">Herald</span> have been substantially buffed.
            No matching increase in fuel tank capacity though.
          </p>
          <p>
            The stock loadouts on the <span class="text-white">Talon</span> and <span class="text-white">Shrike</span> have been updated with different armour, coolers, powerplants, shields and quantum drive.
            The thrusters have received cooling improvements.
          </p>
          <p>
            The retro and maneuvering thrusters on the <span class="text-white">Prospector</span> have been buffed.
            No improvements to tank capacity or intake rate means the time to empty has dropped from 2,600 seconds to 2,100 seconds.
          </p>
          <p>
            The <span class="text-white">Apocalypse Arms Predator Scattergun</span> has been added with 3466 physical damage per second.
          </p>
          <p>
            The <span class="text-white">MaxOx NDB-30 Repeater</span> has been added with 532 energy damage per second.
          </p>
          <p>
            The size 1 Banu shield (also called <span class="text-white">Sukoran</span>) has been added. 6000 health, 270 regeneration.
          </p>
        </div>
      </div>

    </li>

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">Website</div>
      <div class="mb-10">
        <div class="text-xl">Radars, scanners and pings</div>
        <div class="text-gray-400">
          The website now includes basic information about radars, scanners and pings. It looks like there is a lot of detail to
          decode, so more information will be added later.
        </div>
      </div>

    </li>

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 24 24" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">API</div>
      <div class="mb-10">
        <div class="text-xl">Cargo capacity corrections</div>
        <div class="text-gray-400">
          It turns out that some cargo grids are flagged as "MiningOnly", meaning that they can't be used to store actual cargo.
        </div>
      </div>

    </li>

    <li class="lg:flex">

      <div class="hidden lg:block overflow-hidden flex-shrink-0">
        <svg viewbox="0 0 22 22" class="w-6 h-6 text-primary overflow-visible">
          <circle cx="12" cy="12" r="6" fill="currentColor"></circle>
          <path d="M 12 24 V 500" fill="none" stroke-width="2" stroke="currentColor" class="text-primary text-opacity-50"></path>
        </svg>
      </div>

      <div class="lg:ml-10 w-48 flex-shrink-0 text-gray-400">API</div>

      <div class="mb-0">
        <div class="text-xl">Loadout improvements</div>
        <p class="text-gray-400">
          In cases where a ship's didn't fully specify the loadout of a component with sub-components, the loadout of the component itself is now used.
          This means that the cluster munitions in Rattler II missiles and a few strangely configured cargo grids are now correctly loaded.
        </p>
      </div>

    </li>

  </ol>
</div>

<div class="credits">
  <img class="cig-image" src="/assets/images/MadeByTheCommunity_White_1x.png" width="100" height="100" loading="lazy" srcset="/assets/images/MadeByTheCommunity_White_1.5x.png 1.5x, /assets/images/MadeByTheCommunity_White_2x.png 2x">
  <div class="cig-blurb">
    <div>
      This is an unofficial Star Citizen fansite, not affiliated with the Cloud Imperium group of companies.
      All content on this site not authored by its host or users are property of their respective owners.
    </div>
    <div class="mt-2">
      <strong>Star Citizen®</strong>, <strong>Roberts Space Industries®</strong> and <strong>Cloud Imperium®</strong> are registered trademarks of <strong>Cloud Imperium Rights LLC</strong>
    </div>
  </div>
  <div class="our-blurb">
    <div>
      This site and the many others like it would not be possible without <a href="https://github.com/dolkensp/unp4k">unp4k</a> by <a href="https://github.com/dolkensp">Peter Dolkens</a>.
    </div>
    <div class="mt-2">Some backgrounds taken from <a href="https://screenshotcitizen.com">screenshotcitizen.com</a></div>
  </div>
</div>
