.role-inner {
  //padding: 10px;
  margin-left: 20px;
}

.subrole-container {
  border-top: 1px solid #888;
}

.role-container {
  margin-bottom: 10px;
  margin-right: 10px;
}

.subrole-inner {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

h5 {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1;
}

h6 {
  margin-top: 5px;
  margin-bottom: 0;
}

h5 > a,
h6 > a {
  font-size: 0.75em;
  font-weight: normal;
}

h3 {
  margin-left: 10px;
}
