<div class="container mt-3">
  <h1>Find where any item is bought or sold</h1>
  <div class="row">
    <div *ngIf="false" class="col-sm-6">
      <div *ngFor="let shop of shops" class="list-group mb-3">
        <div (click)="toggleCollapse(shop)" class="list-group-item list-group-item-info">
          {{shop.name}}
        </div>
        <ng-container *ngIf="!shop.collapsed">
          <div *ngFor="let item of shop.inventory" class="list-group-item d-flex justify-content-between">
            <div>{{item.displayName || item.name}} ({{item.type || "Commodity"}})</div>
            <div>{{item.shopSellsThis? "Sells for": "Buys for"}} {{item.basePrice * (1+(item.basePriceOffsetPercentage/100)) | number:'1.2-2'}} aUEC</div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input [ngModel]="searchText" (ngModelChange)="filterChanged.next($event)" class="form-control" placeholder="Enter at least three letters to search for an item..." type="search">
        </div>
      </div>
      <ng-container *ngIf="searchText.length >= 3">
        <div *ngFor="let item of filtered | keyvalue" class="list-group mb-3">
          <div class="list-group-item list-group-item-dark">
            {{item.value[0].item.displayName}} ({{item.value[0].item.type || "Commodity"}}) [{{item.value[0].item.tags?.join(", ")}}]
          </div>
          <ng-container *ngIf="!item.collapsed">
            <div *ngFor="let x of item.value" class="list-group-item d-flex equal-fill">
              <div>{{x.shop.name}}</div>
              <div *ngIf="x.item.discPrice == x.item.premPrice">{{x.item.shopSellsThis? "Sells for": "Buys for"}} {{x.item.discPrice | number:'1.2-2'}}</div>
              <div *ngIf="x.item.discPrice != x.item.premPrice">{{x.item.shopSellsThis? "Sells for": "Buys for"}} {{x.item.discPrice | number:'1.2-2'}} - {{x.item.premPrice | number:'1.0-2'}} aUEC depending on inventory levels</div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
