<app-navbar></app-navbar>

<div class="container mx-auto">

  <div class="flex mt-5">
    <span class="flex items-center leading-normal bg-black bg-opacity-60 px-3 whitespace-nowrap text-gray-400 text-sm">
      <i class="fas fa-search"></i>
    </span>
    <input [ngModel]="searchText" (ngModelChange)="filterChanged.next($event)" type="text" class="w-full h-10 border border-gray-700 text-gray-700 focus:border-transparent focus:ring-4 focus:ring-opacity-80 focus:ring-pink-600 px-3 " placeholder="Enter at least 3 characters to begin the search...">
  </div>

  <ng-container *ngIf="searchText.length >= 3">
    <div *ngFor="let item of filtered | keyvalue" class="border border-gray-700 mt-5">
      <div class="text-gray-400 bg-gray-800 px-4 py-2">
        <a [routerLink]="['/items', item.value[0].item.name.toLowerCase()]">{{item.value[0].item.displayName}}</a> ({{item.value[0].item.type || "Commodity"}}) [{{item.value[0].item.tags?.join(", ")}}]
      </div>
      <ng-container *ngIf="!item.collapsed">
        <div *ngFor="let x of item.value" class="flex bg-black border-b text-white last:border-b-0 border-gray-700 px-4 py-2">
          <div class="flex-1">{{x.shop.name}}</div>
          <div *ngIf="x.item.discPrice == x.item.premPrice" class="flex-1">{{x.item.shopSellsThis? "Sells for": "Buys for"}} {{x.item.discPrice | number:'1.2-2'}}</div>
          <div *ngIf="x.item.discPrice != x.item.premPrice" class="flex-1">{{x.item.shopSellsThis? "Sells for": "Buys for"}} {{x.item.discPrice | number:'1.2-2'}} - {{x.item.premPrice | number:'1.0-2'}} aUEC depending on inventory levels</div>
          <div *ngIf="x.item.refreshRatePercentagePerMinute">{{x.item.refreshRatePercentagePerMinute | number:"1.1-1"}} %/min</div>
          <div class="ml-5">Max {{x.item.maxInventory | number:"1.0-1"}}</div>
          <div class="ml-5">Opt {{x.item.optimalInventoryLevel | number:"1.0-1"}}</div>
          <div class="ml-5">Init {{x.item.inventory | number:"1.0-1"}}</div>
          <pre hidden>{{x | json}}</pre>
        </div>
      </ng-container>
    </div>
  </ng-container>

</div>
