<div class="grid grid-cols-4 gap-5">
  <app-stat title="Speed" [value]="item.QuantumDrive.StandardJump.Speed" units="m/s" si="true"></app-stat>
  <!--  <app-stat title="PO to ArcCorp" [value]="item.secondsToArcCorp" units="s" si="true"></app-stat>-->
</div>

<div class="grid grid-cols-4 gap-5 mt-2">
  <app-stat title="Fuel requirement" [value]="item.QuantumDrive.FuelRate*1e9" units="l/Gm" si="true"></app-stat>
  <app-stat title="Efficiency" [value]="1/item.QuantumDrive.FuelRate" units="m/l" si="true"></app-stat>
  <app-stat title="Spool up time" [value]="item.QuantumDrive.StandardJump.SpoolUpTime" units="s"></app-stat>
</div>
